body {
    background: linear-gradient(to right, #01001f 50%, #ffffff 50%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 50px;
}

.left-content {
    text-align: left;
    margin-left: -70px;
    color: rgb(156, 156, 156);
    margin-bottom: 7em;
    margin-top: 190px;
}

.right-content {
    margin-bottom: -18px;
    text-align: left;
    margin-left: 66%;
}

.FinnTech {
    margin-bottom: -21px;
    font-family: 'Song Myung';
    text-align: left;
    margin-left: -280px;
    margin-top: -320px;
}

#btn-enviar {
    width: 550px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
}

.minha-senha {
    margin-top: 20px;
    margin-left: -2px;
    font-size: 34px;
}

.informacao {
    color: #757575;
    font-size: 20px;
    margin-top: 10px;
}

h1, h3 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

h1 {
    font-size: 55px;
}

h3 {
    font-size: 49px;
    margin-top: -01px;
}

input[type="email"], .form-control {
    width: 550px;
    padding: 21px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 13px;
}
