.caixa {
 
    width: 900px;
    
    height: 270px;
    
    background: linear-gradient(to left, #AAAAAA 50%, #01001F 50%);
    
    position: absolute;
    
    top: 730px;
    
    left: 49.98%;
    
    transform: translateX(-50%);
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    z-index: 1;
    
   }
    
    
    
    
    
   section {
    
    height: 57.55em;
    
    width: 100%;
    
    background: linear-gradient(to right, #AAAAAA 50%, #01001F 50%);    
    
   }
    
    
    
   footer {
    
    background-color: rgb(255, 255, 255);
    
    height: 5em;
    
    width: 100%;
    
   }
    
    
    
   .circulo1 {
    
    width: 300px;
    
    height: 300px;
    
    border: 36px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 10px;
    
    left: 30px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
    
    
   }
    
    
    
   .circulo2 {
    
    width: 600px;
    
    height: 600px;
    
    border: 36px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 630px;
    
    left: 30px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
   }
    
    
    
   .circulo3 {
    
       width: 200px;
    
    height: 200px;
   
    border: 200px solid #8A8A8A;
   
    border-radius: 50%;
   
    position: absolute;
   
    top: 350px;
   
    left: 955px;
   
    transform: translate(-50%, -50%);
   
    box-sizing: border-box;
   
    filter: blur(10px);
    
    
    
    
    
    
   }
    
   .circulo4 {
    
    width: 200px;
    
    height: 200px;
   
    border: 200px solid #8A8A8A;
   
    border-radius: 50%;
   
    position: absolute;
   
    top: 350px;
   
    left: 955px;
   
    transform: translate(-50%, -50%);
   
    box-sizing: border-box;
    
    
    
   }
    
    
    
   .circulo5 {
    
    width: 450px;
    
    height: 450px;
    
    border: 36px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 50px;
    
    left: 840px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
    opacity: 20%;
    
   }
    
    
    
   .circulo6 {
    
    width: 420px;
    
    height: 420px;
    
    border: 36px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 500px;
    
    left: 1100px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
    opacity: 20%;
    
   }
    
    
    
    
    
   .circulo7 {
    
    width: 300px;
    
    height: 300px;
    
    border: 40px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 170px;
    
    left: 1277px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
    
    
   }
    
    
    
   .circulo8 {
    
    width:300px;
    
    height:300px;
    
    border: 40px;
    
    border-radius:50%;
    
    position: absolute;
    
    top: 170px;
    
    left:1277;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
   }
    
    
    
    
    
   .texto-FinnTech {
    
    color: rgb(2, 2, 2);
    
    position: absolute;
    
    top: -670px;
    
    left: -140px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 30px;
    
    z-index: 999;
    
   }
    
    
    
    
    
    
    
   .texto-FinnTech {
    
    color: rgb(2, 2, 2);
    
    position: absolute;
    
    top: -670px;
    
    left: -140px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 30px;
    
    z-index: 999;
    
   }
    
    
    
   .texto-inicio {
    
    color: rgb(2, 2, 2);
    
    position: absolute;
    
    top: -670px;
    
    left: 100px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
    cursor: pointer;
    
    transition: filter 0.3s ease-in-out;
    
   }
    
    
    
   .texto-servicos {
    
    color: rgb(2, 2, 2);
    
    position: absolute;
    
    top: -670px;
    
    left: 300px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
    
    
   .texto-escolas {
    
    color: #FFFFFF;
    
    position: absolute;
    
    top: -670px;
    
    left: 600px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
   .texto-contatos {
    
    color: #FFFFFF;
    
    position: absolute;
    
    top: -670px;
    
    left: 800px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
   .texto-paginacinza {
    
    color: #000000;
    
    position: absolute;
    
    top: -150px;
    
    left: 50px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
   .texto-paginaazul {
    
    color: #FFFFFF;
    
    position: absolute;
    
    top: -150px;
    
    left: 1000px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
    
    
   .botao-link {
    
    text-decoration: none; /* Remove sublinhado padrão de links */
    
    color: inherit; /* Herda a cor do texto */
    
   }
    
    
    
   .ITB {
    color: #8A8A8A;
    position: absolute;
    top: 854px;
    left: 550px;
    transform: translate(-50%, -50%);
    font-family: 'Song Myung', cursive;
    font-size: 90px;
    z-index: 999;
   }
    
    
   .BELVAL {
    color: #01001F;
    position: absolute;
    top: 854px;
    left: 970px;
    transform: translate(-50%, -50%);
    font-family: 'Song Myung', cursive;
    font-size: 90px;
    z-index: 999;
   }
    
    
    
   /* Estilos para a caixa grande */
   .caixa-grande {
    width: 500px;
    height: 900px; /* Altura aumentada */
    top: 40px;
    background-color: #ffffff;
    margin: 10px auto;
    position: relative;
    border: 3px solid #01001F;
    padding: 20px; /* Adiciona espaçamento interno */
    border-radius: 40px; /* Borda mais arredondada */
    position: relative;
    border: 2px solid #000000;
   }
    
   /* Estilos para o texto "Cheetos" */
   .texto-cheetos {
    font-size: 60px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 5px; /* Espaçamento abaixo */
   }
    
   /* Estilos para o texto "R$ 9,99" */
   .texto-preco {
    font-size: 50px; /* Tamanho da fonte */
    font-family: 'Song Myung';
    font-weight: bold;
   }
    
   /* Estilos para a caixa pequena */
   .caixa-pequena {
    width: 150px;
    height: 150px;
    background-color: #01001F;
    border: 3px solid #01001F;
    top: 40px;
    right: 50px;
    border-radius: 15px; /* Borda mais arredondada */
    position: absolute;
    border: 2px solid #000000;
   }
    
   /* Estilos para a nova caixa */
   .nova-caixa {
    width: 400px;
    height: 480px; /* Altura mínima */
    background-color: #ffffff; /* Cor laranja */
    border: 3px solid #01001F;
    bottom: 80px; /* Posiciona a nova caixa abaixo do botão */
    left: 50%; /* Centraliza a nova caixa horizontalmente */
    transform: translateX(-50%); /* Centraliza a nova caixa horizontalmente */
    border-radius: 15px; /* Borda mais arredondada */
    padding: 10px; /* Adiciona espaçamento interno */
    text-align: center; /* Centraliza o texto */
    position: absolute;
    border: 2px solid #000000;
   }
   /* Estilos para o botão */
   .botao {
    display: block;
    width: 400px; /* Largura do botão */
    margin: 200px auto; /* Centraliza horizontalmente */
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #01001F;
    cursor: pointer;
    font-size: 17px; /* Tamanho da fonte */
    text-align: center; /* Centraliza texto */
    bottom: 410px; /* Posiciona o botão abaixo da caixa pequena */
    left: 50%; /* Centraliza o botão horizontalmente */
    transform: translateX(-50%); /* Centraliza o botão horizontalmente */
    border-radius: 15px; /* Borda mais arredondada */
    position: absolute;
    font-family: 'Song Myung';
    border: 2px solid #000000;
   }
    
    
   /* Estilos para o texto "Pix do estabelecimento" */
   .texto-pixdoestabelecimento {
    font-size: 20px; /* Tamanho da fonte */
    font-family: Arial, sans-serif;
    font-weight: bold;
    top: 150px;
    position: absolute;
    right: 10px;
    z-index: 3;
    
   }
    
   .pix2 {
    font-size: 40px; /* Tamanho da fonte */
    font-family: 'Song Myung'; /* Define a fonte para 'Song Myung' */
    top: 20px;
    position: absolute;
    z-index: 3;
    right: 55px;
    color:rgb(2, 2, 2);
    font-family: 'Song Myung';
    
   }
   .pix3 {
    font-size: 40px; /* Tamanho da fonte */
    top: 350px;
    left: -10px;
    position: absolute;
    z-index: 3;
    right: 55px;
    color:rgb(2, 2, 2);
    font-family: 'Song Myung';
    
   }
   .pix4 {
    font-size: 80px; /* Tamanho da fonte */
    top: 310px;
    left: 270px;
    position: absolute;
    z-index: 3;
    right: 55px;
    color:rgb(2, 2, 2);
    font-family: 'Song Myung';
    
   }
    
    
   /*imagens*/
    
   .escola {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 130px;
    left: 1000px;
     z-index: 1;
   }
    
   .cheetos {
    width: 150px;
    height: 150px;
    
    top: 1080px;
    right: 500px;
    border-radius: 15px; /* Borda mais arredondada */
    position: absolute;
    z-index: 3;
   }
    
   .pix {
    width: 110px;
    height: 110px;
    background-color: #fdfdfd;
    top: 1400px;
    right: 870px;
    border-radius: 40px; /* Borda mais arredondada */
    position: absolute;
    z-index: 3;
   }
    
    
    
    
    
    
   .caixa {
    
    width: 900px;
    
    height: 270px;
    
    background: linear-gradient(to left, #AAAAAA 50%, #01001F 50%);
    
    position: absolute;
    
    top: 730px;
    
    left: 49.98%;
    
    transform: translateX(-50%);
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    z-index: 1;
    
   }
    
    
    
    
    
   section {
    
    height: 57.55em;
    
    width: 100%;
    
    background: linear-gradient(to right, #AAAAAA 50%, #01001F 50%);    
    
   }
    
    
    
   footer {
    
    background-color: rgb(255, 255, 255);
    
    height: 5em;
    
    width: 100%;
    
   }
    
    
    
    
    
    
    
    
   .texto-FinnTech {
    
    color: rgb(2, 2, 2);
    
    position: absolute;
    
    top: -670px;
    
    left: -140px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 30px;
    
    z-index: 999;
    
   }
    
    
   .circulo1 {
    
    width: 300px;
    
    height: 300px;
    
    border: 36px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 10px;
    
    left: 30px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
    
    
   }
    
    
    
   .circulo2 {
    
    width: 600px;
    
    height: 600px;
    
    border: 36px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 615px;
    
    left: 30px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
   }
    
    
    
   .circulo3 {
    
       width: 200px;
    
    height: 200px;
   
    border: 200px solid #8A8A8A;
   
    border-radius: 50%;
   
    position: absolute;
   
    top: 350px;
   
    left: 955px;
   
    transform: translate(-50%, -50%);
   
    box-sizing: border-box;
   
    filter: blur(10px);
    
    
    
    
    
   }
    
   .circulo4 {
    
       width: 200px;
    
    height: 200px;
   
    border: 200px solid #8A8A8A;
   
    border-radius: 50%;
   
    position: absolute;
   
    top: 350px;
   
    left: 955px;
   
    transform: translate(-50%, -50%);
   
    box-sizing: border-box;
    
    
   }
    
    
    
   .circulo5 {
    
    width: 450px;
    
    height: 450px;
    
    border: 36px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 50px;
    
    left: 800px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
    opacity: 20%;
    
   }
    
    
    
   .circulo6 {
    
    width: 420px;
    
    height: 420px;
    
    border: 36px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 500px;
    
    left: 1100px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
    opacity: 20%;
    
   }
    
    
    
    
    
   .circulo7 {
    
    width: 300px;
    
    height: 300px;
    
    border: 40px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 190px;
    
    left: 1450px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
    
    
   }
    
   .circulo9 {
    
    width: 300px;
    
    height: 300px;
    
    border: 40px solid #8A8A8A;
    
    border-radius: 50%;
    
    position: absolute;
    
    top: 600px;
    
    left: 1820px;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
   }
    
    
   .circulo8 {
    
    width:300px;
    
    height:300px;
    
    border: 40px;
    
    border-radius:50%;
    
    position: absolute;
    
    top: 170px;
    
    left:1277;
    
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    
   }
    
    
    
    
   .texto-FinnTech {
    
    color: rgb(2, 2, 2);
    
    position: absolute;
    
    top: -670px;
    
    left: -140px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 30px;
    
    z-index: 999;
    
   }
    
    
    
   .texto-inicio {
    
    color: rgb(2, 2, 2);
    
    position: absolute;
    
    top: -670px;
    
    left: 100px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
    cursor: pointer;
    
    transition: filter 0.3s ease-in-out;
    
   }
    
    
    
   .texto-servicos {
    
    color: rgb(2, 2, 2);
    
    position: absolute;
    
    top: -670px;
    
    left: 300px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
    
    
   .texto-escolas {
    
    color: #FFFFFF;
    
    position: absolute;
    
    top: -670px;
    
    left: 600px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
   .texto-contatos {
    
    color: #FFFFFF;
    
    position: absolute;
    
    top: -670px;
    
    left: 800px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
   .texto-paginacinza {
    
    color: #000000;
    
    position: absolute;
    
    top: -150px;
    
    left: 50px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
   .texto-paginaazul {
    
    color: #FFFFFF;
    
    position: absolute;
    
    top: -150px;
    
    left: 1000px;
    
    transform: translate(-50%, -50%);
    
    font-family: 'Song Myung', cursive;
    
    font-size: 25px;
    
    z-index: 999;
    
   }
    
    
    
    
    
   .botao-link {
    
    text-decoration: none; /* Remove sublinhado padrão de links */
    
    color: inherit; /* Herda a cor do texto */
    
   }
    
    
    
   .ITB {
       color: #8A8A8A;
       position: absolute;
       top: 854px;
       left: 720px;
       transform: translate(-50%, -50%);
       font-family: 'Song Myung', cursive;
       font-size: 90px;
       z-index: 999;
   }
    
    
   .BELVAL {
       color: #01001F;
       position: absolute;
       top: 854px;
       left: 1160px;
       transform: translate(-50%, -50%);
       font-family: 'Song Myung', cursive;
       font-size: 90px;
       z-index: 999;
   }
    
    
    
   /* Estilos para a caixa grande */
   .caixa-grande {
    width: 500px;
    height: 900px; /* Altura aumentada */
    top: 40px;
    background-color: #ffffff;
    margin: 10px auto;
    position: relative;
    border: 3px solid #01001F;
    padding: 20px; /* Adiciona espaçamento interno */
    border-radius: 40px; /* Borda mais arredondada */
    position: relative;
    border: 2px solid #000000;
   }
    
   /* Estilos para o texto "Cheetos" */
   .texto-cheetos {
    font-size: 60px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 5px; /* Espaçamento abaixo */
   }
    
   /* Estilos para o texto "R$ 9,99" */
   .texto-preco {
    font-size: 50px; /* Tamanho da fonte */
    font-family: 'Song Myung';
    font-weight: bold;
   }
    
   /* Estilos para a caixa pequena */
   .caixa-pequena {
    width: 150px;
    height: 150px;
    background-color: #01001F;
    border: 3px solid #01001F;
    top: 40px;
    right: 50px;
    border-radius: 15px; /* Borda mais arredondada */
    position: absolute;
    border: 2px solid #000000;
   }
    
   /* Estilos para a nova caixa */
   .nova-caixa {
    width: 400px;
    height: 480px; /* Altura mínima */
    background-color: #ffffff; /* Cor laranja */
    border: 3px solid #01001F;
    bottom: 80px; /* Posiciona a nova caixa abaixo do botão */
    left: 50%; /* Centraliza a nova caixa horizontalmente */
    transform: translateX(-50%); /* Centraliza a nova caixa horizontalmente */
    border-radius: 15px; /* Borda mais arredondada */
    padding: 10px; /* Adiciona espaçamento interno */
    text-align: center; /* Centraliza o texto */
    position: absolute;
    border: 2px solid #000000;
   }
   /* Estilos para o botão */
   .botao {
    display: block;
    width: 400px; /* Largura do botão */
    margin: 200px auto; /* Centraliza horizontalmente */
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #01001F;
    cursor: pointer;
    font-size: 17px; /* Tamanho da fonte */
    text-align: center; /* Centraliza texto */
    bottom: 410px; /* Posiciona o botão abaixo da caixa pequena */
    left: 50%; /* Centraliza o botão horizontalmente */
    transform: translateX(-50%); /* Centraliza o botão horizontalmente */
    border-radius: 15px; /* Borda mais arredondada */
    position: absolute;
    font-family: 'Song Myung';
    border: 2px solid #000000;
   }
    
    
   /* Estilos para o texto "Pix do estabelecimento" */
   .texto-pixdoestabelecimento {
    font-size: 20px; /* Tamanho da fonte */
    font-family: Arial, sans-serif;
    font-weight: bold;
    top: 150px;
    position: absolute;
    right: 10px;
    z-index: 3;
    
   }
    
   .pix2 {
    font-size: 40px; /* Tamanho da fonte */
    font-family: 'Song Myung'; /* Define a fonte para 'Song Myung' */
    top: 20px;
    position: absolute;
    z-index: 3;
    right: 55px;
    color:rgb(2, 2, 2);
    font-family: 'Song Myung';
    
   }
   .pix3 {
    font-size: 40px; /* Tamanho da fonte */
    top: 350px;
    left: -10px;
    position: absolute;
    z-index: 3;
    right: 55px;
    color:rgb(2, 2, 2);
    font-family: 'Song Myung';
    
   }
   .pix4 {
    font-size: 80px; /* Tamanho da fonte */
    top: 310px;
    left: 270px;
    position: absolute;
    z-index: 3;
    right: 55px;
    color:rgb(2, 2, 2);
    font-family: 'Song Myung';
    
   }
    
    
   /*imagens*/
    
   .escola {
   width: 400px;
   height: 400px;
   position: absolute;
   top: 130px;
   left: 755px;
   z-index: 1;
   }
    
   .cheetos {
    width: 150px;
    height: 150px;
    top: 1080px;
    right: 720px;
    border-radius: 15px; /* Borda mais arredondada */
    position: absolute;
    z-index: 3;
   }
    
   .pix {
    width: 110px;
    height: 110px;
    background-color: #fdfdfd;
    top: 1400px;
    right: 1010px;
    border-radius: 40px; /* Borda mais arredondada */
    position: absolute;
    z-index: 3;
   }